@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"
            type="text/javascript"></script>\
    <script>
        var input = $("#input");
        var btn = $("btn");
        var p = $("p");
        btn.clikc(
            function () {
                $.getJSON(input.val(), function (data) {
                    p.append(data);
                });
            }
                );
    </script>
</head>
<body>
    <div>
    <input type="text" id="input">
     <button id="btn">Submit</button>
        <p id="p"></p>
    </div>
</body>

</html>
